<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message?.text }}</strong>
</div>
<div class="row" style="margin-left: 350px;">
<div class="col-md-8">
    <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Pessoas</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Data Nasc.</th>
            <th style="width: 10px">&nbsp</th>
            <th style="width: 10px">&nbsp</th>
        </tr>
        <tr *ngFor="let pessoa of listPessoas">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cpf }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.dataNascimento }}</td>
            <td><button class="btn btn-primary" (click)="edit(pessoa.id)">Editar</button><td>
            <td><button class="btn btn-danger" (click)="delete(pessoa.id)">Excluir</button><td>
        </tr>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
        <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus' : i == page}" href="#" (click)="setPage(i,$event)">{{ i + 1 }}</a>
        </li>
        <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
    </div>
    </div>